<img src="Images/Logo.png" alt="Logo NSI" style="float:right">

<h1 style="text-align:center">Chapitre 5 : Tableaux</h1>

Pour stocker de grandes quantités d'informations, on peut utiliser un **tableau**.

## Notion de tableau
Un **tableau** permet de stocker plusieurs valeurs dans une seule variable et d'y accéder ensuite facilement.

In [ ]:
t = [3, 2, 5]

Ici, on déclare une variable `t` désignant un tableau.  Ce tableau contient trois entiers.  
Les valeurs contenues dans le tableau sont **ordonnées**.  
On peut se représenter un tableau comme des cases consécutives désignant des valeurs.

Pour accéder à une valeur contenue dans le tableau `t`, il faut utiliser la notation `t[i]` ou `i` désigne le numéro de la case à laquelle on veut accéder.  
Les cases sont numérotées à partir de 0.

In [ ]:
t[0]

`0` est l'**indice** de la première case.

La **taille** d'un tableau est son nombre de case. On obtient la taille du tableau `t` avec l'opération `len(t)`.

In [ ]:
len(t)

Les indices d'un tableau `t` prennent donc des valeurs comprises entre `0` et `len(t) - 1`.
<div style="text-align: center">
<a href="http://www.pythontutor.com/visualize.html#code=t%20%3D%20%5B3,%202,%205%5D&cumulative=false&curInstr=1&heapPrimitives=true&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">
   <img border="0" alt="Flow Chart" src="Images/Tableau-1.png" > 
</a>
</div>

En informatique, l'idée est que chaque case du tableau occupe une taille identique.  
On peut ainsi calculer facilement ou se trouve la case `i` dans la mémoire par une simple opération arithmétique.

#### Erreurs
Si on cherche à accéder à une case en dehors des limites du tableau, on obtient une erreur.  
L'exécution de l'instruction suivante :
```python
>>> t[3]
```
provoque une erreur :
```python
IndexError: list index out of range
```

#### Python et les autres langages
Les tableaux de Python diffèrent des tableaux que l'on trouve dans d'autres langages de programmation ([C](http://www.pythontutor.com/c.html#code=int%20main%28%29%20%7B%0A%20%20int%20tableau%5B3%5D%3B%0A%0A%20%20tableau%5B0%5D%20%3D%203%3B%0A%20%20tableau%5B1%5D%20%3D%202%3B%0A%20%20tableau%5B2%5D%20%3D%205%3B%0A%0A%20%20return%200%3B%0A%7D&curInstr=0&mode=display&origin=opt-frontend.js&py=c&rawInputLstJSON=%5B%5D), [Java](http://www.pythontutor.com/java.html#code=public%20class%20TableauDemo%20%7B%0A%20%20%20%20public%20static%20void%20main%28String%5B%5D%20args%29%20%7B%0A%20%20%20%20%20%20int%20tableau%5B%5D%20%3D%20new%20int%5B3%5D%3B%0A%20%20%20%20%20%20tableau%5B0%5D%20%3D%203%3B%0A%20%20%20%20%20%20tableau%5B1%5D%20%3D%202%3B%0A%20%20%20%20%20%20tableau%5B2%5D%20%3D%205%3B%0A%20%20%20%20%7D%0A%7D&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=java&rawInputLstJSON=%5B%5D&textReferences=false), [JavaScript](http://www.pythontutor.com/javascript.html#code=var%20tableau%20%3D%20%5B3,%202,%204%5D%3B&curInstr=0&mode=display&origin=opt-frontend.js&py=js&rawInputLstJSON=%5B%5D), ...) .
* On les désigne comme étant des *listes* dans la documentation.
* Il est possible de modifier la taille des tableaux. Cela les distingue des tableaux usuels, où la taille est fixée à la création.
* Il est possible d'accéder à un élément en utilisant des indices négatifs.

### Modification du contenu d'un tableau
Le contenu d'un tableau peut être modifié. Pour cela on utilise une affectation.

In [ ]:
t[1] = 17
print(t)

In [ ]:
t[2] = t[2] + 1
print(t)

## Parcours d'un tableau
On peut utiliser une boucle pour parcourir les cases du tableau concernées.

In [ ]:
n = 0
for i in range(2): # On parcourt uniquement les 2 premiers éléments du tableau
    n = n + t[i]
print(n)

In [ ]:
n = 0
for i in range(len(t)): # On parcourt tous les éléments du tableau
    n = n + t[i]
print(n)

#### Erreurs
La possibilité d'accéder aux cases d'un tableau par des indices négatifs rend certaines erreurs difficiles à analyser.  
La fonction suivante renvoie le nombre d'occurrences de la valeur `v` entre les indices `a` (inclus) et `b` (exclu) du tableau `t`.

In [ ]:
def nb_occurrences(val, a, b, tab):
    nb = 0
    for i in range(a, b):
        if tab[i] == val:
            nb += 1   # Notation équivalente à nb = nb + 1
    return nb

t = [2, 1, 3, 1]
debut = -1
fin = len(t)
n = nb_occurrences(1, debut, fin, t)
print(n)

#### Exemple
[Pyramide des âges](Fichiers/pyramide.py)

In [ ]:
pda = [691165, 710534, 728579, 749270, 763228, 782484, 792558, 813001, 808393, 813680, 807548, 822302, 802674, 800480, 796320, 800560, 816021, 828193, 785471, 775524, 750885, 751084, 734838, 705808, 698780, 732693, 742199, 758458, 763258, 774435, 778738, 793507, 794025, 789604, 781093, 829365, 837426, 849108, 804184, 788264, 794640, 773344, 793019, 836502, 885498, 903921, 897885, 881680, 868783, 860664, 856564, 873805, 875149, 884018, 874390, 842410, 844453, 840074, 833430, 813824, 809540, 801271, 790864, 788149, 769877, 780203, 760764, 788609, 771267, 763386, 746205, 703078, 526166, 510477, 493523, 452195, 399640, 410887, 424148, 410734, 394185, 385845, 365057, 356869, 327225, 319458, 290749, 268489, 227255, 201758, 171893, 147011, 123524, 98697, 78283, 61359, 46186, 34225, 14599, 8401, 5174, 3135, 2297, 2281, 1208, 2160]
# Dans la case i du tableau pda, on trouve le nombre de français ayant l'âge i, en 2018.

age_min = int(input("âge minimum (inclus) : "))
age_max = int(input("âge maximum (exclu) : "))
n = 0
for age in range(age_min, age_max):
    n += pda[age]
print(f"il y a {n} personnes qui ont entre {age_min} et {age_max} ans")

## Construire des tableaux
Pour construire des grands tableaux, il devient compliqué de le faire en énumérant tous ses éléments.

In [ ]:
t = [0] * 1000

On obtient ainsi un tableau `t` de taille 1000 dont toutes les cases désignent la valeur `0`.

In [ ]:
len(t)

Une fois le tableau construit, on peut le *remplir* en utilisant des affectations.

In [ ]:
for i in range(1000):
    t[i] = i * i

Il est également possible de concaténer deux tableaux

In [ ]:
[8, 13, 21] + [34, 55]

#### Tableaux et chaînes de caractères
Il existe certaines similitudes entre les tableaux et chaînes de caractères.

In [ ]:
chaine = "bonjour"
print(len(chaine))
print(chaine[2])

In [ ]:
"bon" + "jour"

In [ ]:
"ab" * 10

Par contre, les caractères d'une chaîne de caractères ne peuvent être modifiés.  
L'exécution de l'instruction suivante :
```python
chaine[2] = 'a'
```
provoque une erreur :
```python
TypeError: 'str' object does not support item assignment
```

## Tableaux et variables
Lorsqu'une variable `x` désigne un nombre, il est possible de copier la valeur de `x` dans une nouvelle variable `y` grâce à l'instruction `y = x`.

In [ ]:
x = 1
x = x + 1
y = x
y = 3

Les deux variables sont indépendantes.
<div style="text-align: center">
<a href="http://www.pythontutor.com/visualize.html#code=x%20%3D%201%0Ax%20%3D%20x%20%2B%201%0Ay%20%3D%20x%0Ay%20%3D%203&cumulative=false&curInstr=4&heapPrimitives=true&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">
   <img border="0" alt="Flow Chart" src="Images/Etat-8.png" > 
</a>
</div>

Dans le cas des tableaux, la variable ne désigne pas les différentes valeurs du tableau, mais l'**adresse mémoire** de l'espace alloué au tableau.  
Ainsi, si l'on considère un tableau `t`, lorsque l'on utilise l'instruction `u = t`, la variable `u` reçoit la valeur désignée par `t`, soit une adresse mémoire.

In [ ]:
t = [1, 2, 3]
u = t
t[2] = 7
print(u)

<div style="text-align: center">
<a href="http://www.pythontutor.com/visualize.html#code=t%20%3D%20%5B1,%202,%203%5D%0Au%20%3D%20t%0At%5B2%5D%20%3D%207&cumulative=false&curInstr=3&heapPrimitives=true&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">
   <img border="0" alt="Flow Chart" src="Images/Etat-9.png" > 
</a>
</div>

L'**aliasing** désigne le phénomène où plusieurs noms désignent une même donnée

### Tableaux et fonctions
Il faut tenir compte de la remarque précédente lors du passage d'un tableau en argument d'une fonction.

In [ ]:
x = 1
t = [1, 2, 3]

Soit la fonction`f` définie par deux paramètres, un entier `a` et un tableau `b`.

In [ ]:
def f(a, b):
    a = a + 1
    b[a] = 7

In [ ]:
f(x, t)
print(t)

<div style="text-align: center">
<a href="http://www.pythontutor.com/visualize.html#code=x%20%3D%201%0At%20%3D%20%5B1,%202,%203%5D%0A%0Adef%20f%28a,%20b%29%3A%0A%20%20%20%20%22%22%22a%20est%20un%20nombre%20et%20b%20un%20tableau%22%22%22%0A%20%20%20%20a%20%3D%20a%20%2B%201%0A%20%20%20%20b%5Ba%5D%20%3D%207%0A%20%20%20%20%0Af%28x,%20t%29&cumulative=false&curInstr=8&heapPrimitives=true&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">
   <img border="0" alt="Flow Chart" src="Images/Etat-10.png" > 
</a>
</div>

**Une fonction peut modifier le contenu d'un tableau qui lui est passé en argument.**

De même qu'une fonction peut recevoir un tableau en argument, une fonction peut renvoyer un tableau comme résultat.  
Soit la fonction `carres` qui reçoit un entier `n` en argument et renvoie un tableau de taille `n` contenant les carrés des n premiers entiers.

In [ ]:
def carres(n):
    t = [0] * n
    for i in range(n):
        t[i] = i * i
    return t

In [ ]:
c = carres(4)

<div style="text-align: center">
<a href="http://www.pythontutor.com/visualize.html#code=def%20carres%28n%29%3A%0A%20%20%20%20%22%22%22n%20est%20une%20entier.%20Renvoie%20un%20tableau%20de%20taille%20n%20contenant%20les%20carr%C3%A9s%20des%20n%20premiers%20entiers%22%22%22%0A%20%20%20%20t%20%3D%20%5B0%5D%20*%20n%0A%20%20%20%20for%20i%20in%20range%28n%29%3A%0A%20%20%20%20%20%20%20%20t%5Bi%5D%20%3D%20i%20*%20i%0A%20%20%20%20return%20t%0A%20%20%20%20%0Ac%20%3D%20carres%284%29&cumulative=false&curInstr=15&heapPrimitives=true&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">
   <img border="0" alt="Flow Chart" src="Images/Etat-11.png" > 
</a>
</div>

## Exercices

### Exercice 1
Ecrire une fonction `occurrences(v, t)` qui renvoie le nombre d'occurrences de la valeur `v` dans le tableau `t`.

### Exercice 2
Ecrire un programme qui construit un tableau de 100 entiers tirés au hasard entre 1 et 1000, puis l'affiche.

### Exercice 3
Compléter le programme précédent pour trouver et afficher l'élément maximum de ce tableau.

### Exercice 4
Ecrire un programme qui tire au hasard mille entiers entre 1 et 10 et affiche ensuite le nombre de fois que chaque nombre a été tiré.  
Relancer le programme plusieurs fois.

### Exercice 5
La [suite de Fibonacci](https://oeis.org/A000045) est une séquence infinie d'entiers définie de la façon suivante : on part des deux entiers 0 et 1, puis on construit, à chaque fois, l'entier suivant comme la somme des deux entiers précédents :

$$0,1,1,2,3,5,...$$
Ecrire un programme qui construit puis affiche un tableau contenant les 30 premiers termes de la suite.

### Exercice 6
Ecrire une fonction `copie(t)` qui prend en paramètre un tableau `t` et renvoie une copie de ce tableau.

### Exercice 7
Ecrire une fonction `ajout(v, t)` qui créé et renvoie un nouveau tableau contenant d'abord tous les éléments du tableau `t` puis l'élément `v`.

### Exercice 8
Ecrire une fonction `concatenation(t1, t2)` qui créé renvoie un nouveau tableau contenant d'abord tous les éléments du tableau `t1` puis tous les éléments du tableau `t2`.

### Exercice 9
Ecrire une fonction `tableau_aleatoire(n, a, b)` qui créé et renvoie un tableau de taille `n` contenant des entiers tirés au hasard entre `a` et `b`.

### Exercice 10
Ecrire une procédure `echange(tab, i, j)` qui échange dans le tableau `tab` les éléments aux indices `i` et `j`.

### Exercice 11
Ecrire une fonction `somme(tab)` qui calcule et renvoie la somme des éléments d'un tableau d'entiers.   
En déduire une fonction `moyenne(tab)` qui calcule et renvoie la moyenne des éléments du tableau `tab`.

### Exercice 12
Ecrire une fonction `produit(tab)` qui calcule et renvoie le produit des éléments d'un tableau d'entiers.

### Exercice 13
Ecrire une procédure `miroir(tab)` qui reçoit un tableau en argument et le modifie pour échanger le premier élément avec le dernier, le second avec l'avant dernier, ...

### Exercice 14
Pour mélanger les éléments d'un tableau aléatoirement, il suffit de parcourir le tableau de la gauche vers la droite et, pour chaque élément à l'indice `i`, on l'échange avec un élément situé à un indice tiré aléatoirement entre `0` et `i` (inclus).  
Ecrire une procédure `melange(tab)` qui réalise cet algorithme.

### Exercice 15
Ecrire une fonction `prefixe(tab1, tab2)` qui renvoie `True` si le tableau `tab1` est un prefixe du tableau `tab2`, c'est-à-dire si le tableau `tab2` commence par les éléments du tableau `tab1` dans le même ordre.

### Exercice 16
Ecrire une fonction `suffixe(tab1, tab2)` qui renvoie `True` si le tableau `tab1` est un suffixe du tableau `tab2`, c'est-à-dire si le tableau `tab2` termine par les éléments du tableau `tab1` dans le même ordre.

### Exercice 17
Ecrire une fonction `hamming(tab1, tab2)` qui prend en paramètres deux tableaux, que l'on supposera de même taille, et qui renvoie le nombre d'indices auxquels les deux tableaux diffèrent.

### Exercice 18
1. Écris une fonction `verlan(mot)` qui prend en paramètre un mot (une chaîne de caractères) et qui renvoie le mot à l’envers.  
Par exemple `SALUT` devient `TULAS`.  
On suppose que cette fonction est uniquement appelée sur des mots en majuscules.
2. Déduis-en une fonction `est_palindrome(mot)` qui teste si un mot est un palindrome ou pas (la fonction renvoie donc un booléen).  
Un palindrome est un mot qui s’écrit indifféremment de gauche à droite ou de droite à gauche.  
Par exemple `RADAR` est un palindrome.  
On suppose que cette fonction est uniquement appelée sur des mots en majuscules.

### Exercice 19
#### Sous chaînes
On peut extraire plusieurs caractères d’une chaîne de caractères `mot` à l’aide de la syntaxe `mot[i:j]` qui renvoie une chaîne formée des caractères numéro `i` à `j − 1` (attention le caractère numéro `j` n’est pas inclus !).

#### <a href="https://fr.wikipedia.org/wiki/Pig_latin_(linguistique)">Pig Latin</a>

On transforme un mot commençant par une consonne selon la recette suivante :
* on déplace la première lettre à la fin du mot
* on rajoute le suffixe UM

Les mots commençant par une voyelle ne changent pas.  
Écris une fonction `latin_cochon(mot)` qui renvoie un mot selon ce procédé.  
On suppose que cette fonction est uniquement appelée sur des mots en majuscules.

### Exercice 20
#### Sous chaînes
On peut extraire plusieurs caractères d’une chaîne de caractères `mot` à l’aide de la syntaxe `mot[i:j]` qui renvoie une chaîne formée des caractères numéro `i` à `j − 1` (attention le caractère numéro `j` n’est pas inclus !).

#### ADN

Une molécule d’ADN est formée d’environ six milliards de nucléotides.  
L’ordinateur est donc un outil indispensable pour l’analyse de l’ADN.  
Dans un brin d’ADN il y a seulement quatre types de nucléotides (un caractère) qui sont notés A, C, T ou G.  
Une séquence d’ADN est donc un long mot (une chaîne de caractères) de la forme : TAATTACAGACCTGAA...

1. Écris une fonction `presence_de_A(mot)` qui teste si une séquence contient le nucléotide `A`.
2. Écris une fonction `position_de_AT(mot)` qui teste si une séquence contient le nucléotide `A` suivi du nucléotide `T` et renvoie la position de la première occurrence trouvée.  
Remarque : la fonction renvoie `None` si le code `AT` n'apparaît pas.
3. Écris une fonction `position(code, mot)` qui teste si une séquence contient un `code` donné et renvoie la position de la première occurrence (un code est également une chaîne de caractères).  
Remarque : la fonction renvoie `None` si le code n'apparaît pas.  
Exemple : position("CCG","CTCCGTT") renvoie 2
4. Un crime a été commis dans le château d’Adéno.  
Tu as récupéré deux brins d’ADN, provenant de deux positions éloignées de l’ADN du coupable.  
Il y a quatre suspects, dont tu as séquencé l’ADN.  
Sauras-tu trouver qui est le coupable ?
* Premier code du coupable : CATA
* Second code du coupable : ATGC

ADN du colonel Moutarde :  

    CCTGGAGGGTGGCCCCACCGGCCGAGACAGCGAGCATATGCAGGAAGCGGCAGGAATAAGGAAAAGCAGC
    
ADN de Mlle Rose :  

    CTCCTGATGCTCCTCGCTTGGTGGTTTGAGTGGACCTCCCAGGCCAGTGCCGGGCCCCTCATAGGAGAGG
    
ADN de Mme Pervenche :  

    AAGCTCGGGAGGTGGCCAGGCGGCAGGAAGGCGCACCCCCCCAGTACTCCGCGCGCCGGGACAGAATGCC
    
ADN de M. Leblanc :  

    CTGCAGGAACTTCTTCTGGAAGTACTTCTCCTCCTGCAAATAAAACCTCACCCATGAATGCTCACGCAAG